<?xml version="1.0" encoding="UTF-8"?>
<elevatorsystem>
	<building>
		<floornumbers>16</floornumbers>
		<elevatornumbers>4</elevatornumbers>
		<randompersonnumbers>10</randompersonnumbers>
		<simulationduration>62000</simulationduration>
	</building>
	<elevators>
		<elevator>
			<id>1</id>
			<maxpassengers>12</maxpassengers>
			<timeperfloor>500</timeperfloor>
			<timeperdoor>500</timeperdoor>
			<defaultfloor>1</defaultfloor>
			<timeout>15000</timeout>
		</elevator>
		<elevator>
			<id>2</id>
			<maxpassengers>12</maxpassengers>
			<timeperfloor>500</timeperfloor>
			<timeperdoor>500</timeperdoor>
			<defaultfloor>1</defaultfloor>
			<timeout>15000</timeout>
		</elevator>
		<elevator>
			<id>3</id>
			<maxpassengers>12</maxpassengers>
			<timeperfloor>500</timeperfloor>
			<timeperdoor>500</timeperdoor>
			<defaultfloor>1</defaultfloor>
			<timeout>15000</timeout>
		</elevator>
		<elevator>
			<id>4</id>
			<maxpassengers>12</maxpassengers>
			<timeperfloor>500</timeperfloor>
			<timeperdoor>500</timeperdoor>
			<defaultfloor>1</defaultfloor>
			<timeout>15000</timeout>
		</elevator>
	</elevators>
	<persons>
		<person>
			<id>1</id>
			<from>11</from>
			<to>11</to>
			<triggertime>0</triggertime>
		</person>
		<person>
			<id>2</id>
			<from>14</from>
			<to>15</to>
			<triggertime>2000</triggertime>
		</person>
		<person>
			<id>3</id>
			<from>13</from>
			<to>15</to>
			<triggertime>3000</triggertime>
		</person>
		<person>
			<id>4</id>
			<from>15</from>
			<to>15</to>
			<triggertime>4000</triggertime>
		</person>
		<person>
			<id>5</id>
			<from>5</from>
			<to>16</to>
			<triggertime>35000</triggertime>
		</person>
	</persons>
	<panelrequests>
		<panelrequest>
			<elevatorid>3</elevatorid>
			<floorid>16</floorid>
			<triggertime>37500</triggertime>
		</panelrequest>
		<panelrequest>
			<elevatorid>3</elevatorid>
			<floorid>1</floorid>
			<triggertime>39000</triggertime>
		</panelrequest>
		<panelrequest>
			<elevatorid>3</elevatorid>
			<floorid>2</floorid>
			<triggertime>44500</triggertime>
		</panelrequest>
		<panelrequest>
			<elevatorid>3</elevatorid>
			<floorid>5</floorid>
			<triggertime>46000</triggertime>
		</panelrequest>
		<panelrequest>
			<elevatorid>3</elevatorid>
			<floorid>3</floorid>
			<triggertime>47000</triggertime>
		</panelrequest>
	</panelrequests>
</elevatorsystem>