<?xml version="1.0" encoding="UTF-8"?>
<elevatorsystem>
	<building>
		<floornumbers>21</floornumbers>
		<elevatornumbers>3</elevatornumbers>
		<randompersonnumbers>15</randompersonnumbers>
		<simulationduration>300</simulationduration>
	</building>
	<elevators>
		<elevator>
			<id>1</id>
			<maxpassengers>8</maxpassengers>
			<timeperfloor>500</timeperfloor>
			<timeperdoor>500</timeperdoor>
			<defaultfloor>1</defaultfloor>
			<timeout>15000</timeout>
		</elevator>
		<elevator>
			<id>2</id>
			<maxpassengers>8</maxpassengers>
			<timeperfloor>500</timeperfloor>
			<timeperdoor>500</timeperdoor>
			<defaultfloor>1</defaultfloor>
			<timeout>15000</timeout>
		</elevator>	
		<elevator>
			<id>3</id>
			<maxpassengers>8</maxpassengers>
			<timeperfloor>500</timeperfloor>
			<timeperdoor>500</timeperdoor>
			<defaultfloor>1</defaultfloor>
			<timeout>15000</timeout>
		</elevator>	
	</elevators>
</elevatorsystem>